<div class="container-fluid bg-black text-light text-center pt-5">
  <div class="row ps-3 pe-3 pt-1 pb-1">
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
      <p class="text-start fw-bold">Get to Know Us</p>
      <ul class="text-start">
        <li class="footer-list-hover text-secondary">Careers</li>
        <li class="footer-list-hover text-secondary">Blog</li>
        <li class="footer-list-hover text-secondary">Press Releases</li>
        <li class="footer-list-hover text-secondary">GlamCart Science</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
      <p class="text-start fw-bold">Connect with Us</p>
      <ul class="text-start">
        <li class="footer-list-hover text-secondary">
          Facebook <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="footer-list-hover text-secondary">
          Instagram <i class="fa-brands fa-instagram"></i>
        </li>
        <li class="footer-list-hover text-secondary">
          Twitter <i class="fa-brands fa-twitter"></i>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mb-2">
      <p class="text-start fw-bold">Make Money with Us</p>
      <ul class="text-start">
        <li class="footer-list-hover text-secondary">Sell on GlamCart</li>
        <li class="footer-list-hover text-secondary">Sell under GlamCart</li>
        <li class="footer-list-hover text-secondary">Become an Affiliate</li>
        <li class="footer-list-hover text-secondary">
          Advertise Your Products
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center mb-2">
      <p class="text-start fw-bold">Let Us Help You</p>
      <ul class="text-start">
        <li class="footer-list-hover text-secondary">COVID-19 and GlamCart</li>
        <li class="footer-list-hover text-secondary">Your Account</li>
        <li class="footer-list-hover text-secondary">Returns Centre</li>
        <li class="footer-list-hover text-secondary">GlamCart App Download</li>
        <li class="footer-list-hover text-secondary">Help</li>
      </ul>
    </div>
  </div>
</div>
<app-subfooter></app-subfooter>
<app-copyright></app-copyright>
