<div class="container c1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
           <!--  <img src="logo.jpg" class="d-block w-100" alt="..."> -->
           <div class="card c11" >
            <div class="card-body">
              <h5 class="card-title"><b>John</b></h5>
              <img src="assets/2nd boy.jpg">

              <p class="card-text">"I've been a loyal customer of GlamCart for years. The
                quality of their clothing is unmatched, and they always keep
                up with the latest fashion trends. Plus, their customer
                service team is incredibly helpful and responsive!"</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          <div class="card c11" >
            <div class="card-body">
              <h5 class="card-title"><b>Emily Rose</b></h5>
              <img src="assets/1st girl.png">
              <p class="card-text">"GlamCart never disappoints! The product range is extensive,
                and the quality is always top-notch. I appreciate the fast
                shipping and the excellent customer support.Therfore, It's
                always my go-to for all my fashion needs!"</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          <div class="card c11" >
            <div class="card-body">
              <h5 class="card-title"><b>Taren</b></h5>
              <img src="assets/tiger.jpg">

              <p class="card-text">
                "I have been a dedicated customer of GlamCart for several years. Their clothing quality is unparalleled, and they consistently stay ahead.Their customer service team is exceptionally attentive and responsive!"</p>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          </div>



          <div class="carousel-item">

            <div class="card c11">
                <div class="card-body">
                  <h5 class="card-title"><b>Reena</b></h5>
                  <img src="assets/t3.jpg">

                  <p class="card-text">"I've been shopping with GlamCart for many years. The quality of their apparel is superior, and they are always on top of the latest fashion trends. Moreover, their customer service team is remarkably supportive and quick to respond!"</p>
                 <!--  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              <div class="card c11" >
                <div class="card-body">
                  <h5 class="card-title"><b>Suha</b></h5>
                  <img src="assets/2ng girl.png">

                  <p class="card-text">"For years, I've been a devoted shopper at GlamCart. The excellence of their clothing is second to none, and they continuously keep pace with the newest fashion trends.Their customer support is outstandingly helpful and prompt."</p>
                 <!--  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              <div class="card c11" >
                <div class="card-body">
                  <h5 class="card-title"><b>Carrie</b></h5>
                  <img src="assets/7th girl.jpg">

                  <p class="card-text">"I've consistently chosen GlamCart for years due to their exceptional clothing quality and their commitment to staying current with fashion trends.Their customer service team is extremely supportive and quick to respond."</p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>



          <div class="carousel-item">

            <div class="card c11">
                <div class="card-body">
                  <h5 class="card-title"><b>Rakhi</b></h5>
                  <img src="assets/6th girl.jpg">

                  <p class="card-text">"I've been shopping with GlamCart for many years. The quality of their apparel is superior, and they are always on top of the latest fashion trends. Moreover, their customer service team is remarkably supportive and quick to respond!"</p>
                 <!--  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              <div class="card c11" >
                <div class="card-body">
                  <h5 class="card-title"><b>Sam</b></h5>
                  <img src="assets/4th girl.jpg">

                  <p class="card-text">"For years, I've been a devoted shopper at GlamCart. The excellence of their clothing is second to none, and they continuously keep pace with the newest fashion trends.Their customer support is outstandingly helpful and prompt."</p>
                 <!--  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              <div class="card c11" >
                <div class="card-body">
                  <h5 class="card-title"><b>Cathie</b></h5>
                  <img src="assets/5th girl.jpg">

                  <p class="card-text">"I've consistently chosen GlamCart for years due to their exceptional clothing quality and their commitment to staying current with fashion trends.Their customer service team is extremely supportive and quick to respond."</p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            </div>
        </div>



        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>






<!--corousel 2-->

