<div
  class="container-fluid p-4 d-flex flex-column justify-content-center align-items-center pill-section"
>
  <div class="mb-4 text-center">
    <span class="display-4 cursive">With quality </span>
    <span class="display-4">Unlock benefits: Transform your Experience</span>
    <span class="display-4 cursive"> And feel</span>
  </div>
  <div
    class="container-fluid d-flex flex-col flex-md-row justify-content-center align-items-center"
  >
    <div class="cursive p-2 box text-center">
      Disscover the top-selling in our exclusive section <br /><i
        class="fa-solid fa-snowflake"
      ></i>
    </div>
  </div>
</div>
