<div class="container-fluid bg-black text-center p-2">
  <div class="row p-2">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <img src="../../../assets/images/logo.png" width="120px" alt="logo" />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-language"></i>Language
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">English</a>
          </li>
          <li><a class="dropdown-item" href="#">Hindi</a></li>
          <li><a class="dropdown-item" href="#">Mandarin</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-flag"></i>Country
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">India</a>
          </li>
          <li><a class="dropdown-item" href="#">US</a></li>
          <li><a class="dropdown-item" href="#">Cananda</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
